This notebook is a sample code with Japanese comments.

# 2.8 三人寄れば文殊の知恵！　アンサンブルを体験しよう

In [2]:
ls

1~2.ipynb  6.ipynb                          submission_lightgbm_skfold.csv
3.ipynb    7.ipynb                          submission_randomforest.csv
4.ipynb    8.ipynb
5.ipynb    submission_lightgbm_holdout.csv

In [4]:
import pandas as pd

sub_lgbm_sk = pd.read_csv('submission_lightgbm_skfold.csv')
sub_lgbm_ho = pd.read_csv('submission_lightgbm_holdout.csv')
sub_rf = pd.read_csv('submission_randomforest.csv')

In [5]:
sub_lgbm_sk.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [6]:
df = pd.DataFrame({'sub_lgbm_sk': sub_lgbm_sk['Survived'].values,
                   'sub_lgbm_ho': sub_lgbm_ho['Survived'].values,
                   'sub_rf': sub_rf['Survived'].values})
df.head()

   sub_lgbm_sk  sub_lgbm_ho  sub_rf
0            0            0       0
1            0            1       1
2            0            0       0
3            0            0       0
4            0            0       1

In [9]:
# 予測値の相関を計算
# 小さい方が望ましい
# 0.95以下ならば十分に相関が小さいと言える
df.corr()

             sub_lgbm_sk  sub_lgbm_ho    sub_rf
sub_lgbm_sk     1.000000     0.910218  0.792479
sub_lgbm_ho     0.910218     1.000000  0.752897
sub_rf          0.792479     0.752897  1.000000

In [10]:
# 多数決で予測値を決定
sub = pd.read_csv('../input/titanic/gender_submission.csv')
sub['Survived'] = sub_lgbm_sk['Survived'] + sub_lgbm_ho['Survived'] + sub_rf['Survived']
sub.head()

   PassengerId  Survived
0          892         0
1          893         2
2          894         0
3          895         0
4          896         1

In [11]:
sub['Survived'] = (sub['Survived'] >= 2).astype(int)
sub.to_csv('submission_lightgbm_ensemble.csv', index=False)
sub.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         0